.blog-container-sub-10{
    background:fixed;
    background-color: #EADEC8;
    background-size: cover;
    background-repeat:no-repeat;
    padding: 30px; /* Để loại bỏ khoảng cách xung quanh nội dung */
    height: 3800px;
}
.table-of-contents-26{
    border: 1px solid #ccc; /* Định dạng khung */
    padding: 30px; /* Khoảng cách giữa nội dung và khung */
    margin-bottom: 20px; /* Khoảng cách giữa các khung */
    background-color: rgba(217, 217, 217, 0.35);
    width: 2000px;
    height: 200px;
    margin-right: 30px;
}