.blog-container-sub-17{
    background:fixed;
    background-color: #EADEC8;
    background-size: cover;
    background-repeat:no-repeat;
    padding: 30px; /* Để loại bỏ khoảng cách xung quanh nội dung */
    height: 2100px;
}