@import url("https://fonts.googleapis.com/css2?family=Bai Jamjuree:wght@400;700&display=swap");
.back-link{
    text-decoration: dotted;
    color: #000;
}
.back-link:hover{
   margin: 10px solid; 
   background-color: #decba7;
   border-radius: 30px;
   padding: 1px;
   color: #fff;
}
.Back-button{
    display: flex;
}
.blog-container-addiction{
    background:fixed;
    background-color: #EADEC8;
    background-size: cover;
    background-repeat:no-repeat;
    padding: 30px; /* Để loại bỏ khoảng cách xung quanh nội dung */
    height: 2700px;
}
.conditions-a-z {
    font-weight: 300;
}
.title-blog-head {
    margin: 0;
    font-size: 64px;
    color: #3e1616;
    font-family: 'Bai Jamjuree';
}
.title-blog {
    position: relative;
    text-align: justify;
    font-size: 20px;
    color: #000;
    font-family: Lexend;
    margin-left: 112px;
}
.addiction-para{
    border: 1px solid #ccc; /* Định dạng khung */
    padding: 20px; /* Khoảng cách giữa nội dung và khung */
    margin-bottom: 20px; /* Khoảng cách giữa các khung */
    background-color: rgba(217, 217, 217, 0.35);
    border-left: 3px solid #661f1f; /* Tạo viền bên trái */
    border-right: 3px solid #661f1f; /* Tạo viền bên trái */
    font-family: 'Bai Jamjuree';
}
.frequently-asked-questions{
    background-color: #65463c;
    height: 59px;
}
.frequently-para{
    position: relative;
    font-size: 32px;
    font-family: 'Bai Jamjuree';
    color: #fff;
    text-align: justify;
    display: flex; /* Sử dụng flexbox để căn chỉnh nội dung */
    align-items: left; /* Căn giữa theo chiều dọc */
    justify-content: left; /* Căn giữa theo chiều ngang */
    margin: 0 30px;
}
.frequently-content{
    border: 1px solid #ccc; /* Định dạng khung */
    padding: 20px; /* Khoảng cách giữa nội dung và khung */
    margin-bottom: 20px; /* Khoảng cách giữa các khung */
    background-color: #f4eee5;
}
.content-border{
    border: 1px solid #ccc; /* Định dạng khung */
    padding: 20px; /* Khoảng cách giữa nội dung và khung */
    margin-bottom: 20px; /* Khoảng cách giữa các khung */
    background-color: #f9f9f9; /* Màu nền khung */
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: #decba7;
    margin-left: 50px;
    margin-right: 50px;
}
.content-para{
    border:1px solid #ccc;
    border-radius: 50px;
    padding: 10px;
    margin-bottom: 5px;
    background-color: #eadec8;
    font-family: 'Bai Jamjuree';
    font-size: 24px;
    text-align: justify;
    color: #65463c;
}
.content-para-text{
    font-size: 20px;
    font-family: 'Bai Jamjuree';
    color: #3e1616;
    text-align: left;
    display: inline-block;
    height: 152px;
}
.addiction-content-list{
    border: 1px solid #ccc; /* Định dạng khung */
    padding: 20px; /* Khoảng cách giữa nội dung và khung */
    margin-bottom: 20px; /* Khoảng cách giữa các khung */
    background-color: #f4eee5;
    border-left: 3px solid #661f1f; /* Tạo viền bên trái */
    border-right: 3px solid #661f1f; /* Tạo viền bên trái */
    font-family: 'Bai Jamjuree';
    display: flex;
    margin-left: 80px;
    margin-right: 80px;
}
.addiction-main-head{
    font-family: 'Libre Bodoni';
    font-size: 40px;
}
.addiction-main{
    margin: 20px;
    padding: 20px;
}
.addiction-content{
    margin-top: 1200px;
}
.addiction-menu{
    text-decoration: none;
    margin: 0 0 30px;
    padding: 12px;
    color: #3e1616;
}
.sub-blog-list{
    margin-bottom: 30px;
}