.blog-container-sub-6{
    background:fixed;
    background-color: #EADEC8;
    background-size: cover;
    background-repeat:no-repeat;
    padding: 30px; /* Để loại bỏ khoảng cách xung quanh nội dung */
    height: 2200px;
}
.subblog-6-img{
    position: relative;
    width: 100%;
    height: 703px;
    object-fit: cover;
    mix-blend-mode: darken;
}